
@{
    ViewBag.Title = "About";
}

<div class="row">
    <div class="col-xs-6">
        <h2>Myself</h2>
        <article>stuff stuff stuff bla bla bla</article>
    </div>
    <div class="col-xs-6">
        <h2>Background</h2>
        <article>stuff stuff stuff bla bla bla</article>
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <h2>Interests</h2>
        <article class="col-xs-12">stuff stuff stuff bla bla bla</article>
    </div>
</div>

