
@{
    ViewBag.Title = "Education";
}

<!-- Page Title -->
<div class="row">
    <div class="col-sm-12">
        <h2 class="text-center">@ViewBag.Title</h2>
    </div>
</div>
<!-- Page intro text -->
<div class="row">
    <div class="col-sm-12">
        <p class="text-center">Besides university, I went down a developer path; although most of my knowledge is self-taught.</p>
    </div>
</div>
<!-- Education History -->
<div class="row">
    <!-- Education Item -->
    <div class="col-sm-4 col-sm-push-1">
        <div class="well">
            <!-- Logo -->
            <div class="row">
                <div class="col-sm-12">
                    <div class="thumbnail">
                        <img src="~/Content/Images/justit_logo-2x.png" alt="JustIT" />
                    </div>
                </div>
            </div>
            <!-- Title -->
            <div class="row">
                <div class="col-sm-12">
                    <h2>JustIT</h2>
                </div>
            </div>
            <!-- Date -->
            <div class="row">
                <!-- End -->
                <div class="col-sm-6">
                    <h6>To</h6><time datetime="2015-12">Now</time>
                </div>
                <!-- Start -->
                <div class="col-sm-6">
                    <h6>From</h6><time datetime="2015-09">September 2015</time>
                </div>
            </div>
            <br />
            <!-- Summary -->
            <div class="row">
                <div class="col-sm-12">
                    <h4>The Development Professional Program</h4>
                </div>
            </div>
            <!-- Skills -->
            <div class="row">
                <div class="col-sm-12">
                    <div class="list-group">
                        <div class="list-group-item">
                            <h4 class="list-group-item-heading"><a href="http://app.pluralsight.com/profile/arnoldas-rudzevicius">Pluralsight Profile</a></h4>
                            <p class="list-group-item-text">My Pluralsight profile can be viewed to see the topics this course covers.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Education Item -->
    <div class="col-sm-4 col-sm-push-3">
        <div class="well">
            <!-- Logo -->
            <div class="row">
                <div class="col-sm-12">
                    <div class="thumbnail">
                        <img src="~/Content/Images/london-met-230x105.png" alt="London Metropolitan University" />
                    </div>
                </div>
            </div>
            <!-- Title -->
            <div class="row">
                <div class="col-sm-12">
                    <h4>London Metropolitan University</h4>
                </div>
            </div>
            <!-- Date -->
            <div class="row">
                <!-- End -->
                <div class="col-sm-6">
                    <h6>To</h6><time datetime="2014">2014</time>
                </div>
                <!-- Start -->
                <div class="col-sm-6">
                    <h6>From</h6><time datetime="2011">2011</time>
                </div>
            </div>
            <br />
            <!-- Summary -->
            <div class="row">
                <div class="col-sm-12">
                    <h5>Film & Broadcasting Production (BA)</h5>
                </div>
            </div>
            @*
            <!-- Skills -->
            <div class="row">
                <div class="col-sm-12">
                    <div class="list-group">
                        <div class="list-group-item">
                            <h6 class="list-group-item-heading">heading</h6>
                            <p class="list-group-item-text">text</p>
                        </div>
                    </div>
                </div>
            </div>
                *@
        </div>
    </div>
    @*
    <!-- Education Item -->
    <div class="col-sm-4">
        <div class="well">
            <!-- Logo -->
            <div class="row">
                <div class="col-sm-12">
                    <div class="thumbnail">
                        <img src="~/Content/Images/ehwlc_logo.gif" alt="Ealing, Hammersmith & West London College" />
                    </div>
                </div>
            </div>
            <!-- Title -->
            <div class="row">
                <div class="col-sm-12">
                    <h5>Ealing, Hammersmith & West London College</h5>
                </div>
            </div>
            @*
            <!-- Date -->
            <div class="row">
                <!-- End -->
                <div class="col-sm-6">
                    <h6>To</h6><time datetime="2015-12-19">In the future.</time>
                </div>
                <!-- Start -->
                <div class="col-sm-6">
                    <h6>From</h6><time datetime="2015-01-19">In the past.</time>
                </div>
            </div>
            <br />
                
            <!-- Summary -->
            <div class="row">
                <div class="col-sm-12">
                    <h6>IT Practitioner</h6>
                </div>
            </div>
            
            <!-- Skills -->
            <div class="row">
                <div class="col-sm-12">
                    <div class="list-group">
                        <div class="list-group-item">
                            <h6 class="list-group-item-heading">heading</h6>
                            <p class="list-group-item-text">text</p>
                        </div>
                    </div>
                </div>
            </div>
                
        </div>
    </div>
*@
</div>