
@{
    ViewBag.Title = "Education";
}

<!-- Page Title -->
<div class="row">
    <div class="col-sm-12">
        <h2>@ViewBag.Title</h2>
    </div>
</div>
<!-- Page intro text -->
<div class="row">
    <div class="col-sm-12">
        <p>Sapien elit in malesuada semper mi, id sollicitudin urna fermentum.</p>
    </div>
</div>
<!-- Education History -->
<div class="row">
    <!-- Education Item -->
    <div class="col-sm-4 well">
        <!-- Logo -->
        <div class="row">
            <div class="col-sm-12">
                <div class="thumbnail">
                    <img src="~/Content/Images/justit_logo-2x.png" alt="JustIT" />
                </div>
            </div>
        </div>
        <!-- Title -->
        <div class="row">
            <div class="col-sm-12">
                <h2>a very very very long title</h2>
            </div>
        </div>
        <!-- Date -->
        <div class="row">
            <!-- Start -->
            <div class="col-sm-6">
                <time datetime="2015-01-19">In the past.</time>
            </div>
            <!-- End -->
            <div class="col-sm-6">
                <time datetime="2015-12-19">In the future.</time>
            </div>
        </div>
        <br />
        <!-- Summary -->
        <div class="row">
            <div class="col-sm-12">
                <p>Sapien elit in malesuada semper mi, id sollicitudin urna fermentum.</p>
            </div>
        </div>
        <!-- Skills -->
        <div class="row">
            <div class="col-sm-12">
                <div class="list-group">
                    <div class="list-group-item">
                        <h6 class="list-group-item-heading">heading</h6>
                        <p class="list-group-item-text">text</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Education Item -->
    <div class="col-sm-4 well">
        <!-- Logo -->
        <div class="row">
            <div class="col-sm-12">
                <div class="thumbnail">
                    <img src="~/Content/Images/justit_logo-2x.png" alt="JustIT" />
                </div>
            </div>
        </div>
        <!-- Title -->
        <div class="row">
            <div class="col-sm-12">
                <h2>a very very very long title</h2>
            </div>
        </div>
        <!-- Date -->
        <div class="row">
            <!-- Start -->
            <div class="col-sm-6">
                <time datetime="2015-01-19">In the past.</time>
            </div>
            <!-- End -->
            <div class="col-sm-6">
                <time datetime="2015-12-19">In the future.</time>
            </div>
        </div>
        <br />
        <!-- Summary -->
        <div class="row">
            <div class="col-sm-12">
                <p>Sapien elit in malesuada semper mi, id sollicitudin urna fermentum.</p>
            </div>
        </div>
        <!-- Skills -->
        <div class="row">
            <div class="col-sm-12">
                <div class="list-group">
                    <div class="list-group-item">
                        <h6 class="list-group-item-heading">heading</h6>
                        <p class="list-group-item-text">text</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Education Item -->
    <div class="col-sm-4 well">
        <!-- Logo -->
        <div class="row">
            <div class="col-sm-12">
                <div class="thumbnail">
                    <img src="~/Content/Images/justit_logo-2x.png" alt="JustIT" />
                </div>
            </div>
        </div>
        <!-- Title -->
        <div class="row">
            <div class="col-sm-12">
                <h2>a very very very long title</h2>
            </div>
        </div>
        <!-- Date -->
        <div class="row">
            <!-- Start -->
            <div class="col-sm-6">
                <time datetime="2015-01-19">In the past.</time>
            </div>
            <!-- End -->
            <div class="col-sm-6">
                <time datetime="2015-12-19">In the future.</time>
            </div>
        </div>
        <br />
        <!-- Summary -->
        <div class="row">
            <div class="col-sm-12">
                <p>Sapien elit in malesuada semper mi, id sollicitudin urna fermentum.</p>
            </div>
        </div>
        <!-- Skills -->
        <div class="row">
            <div class="col-sm-12">
                <div class="list-group">
                    <div class="list-group-item">
                        <h6 class="list-group-item-heading">heading</h6>
                        <p class="list-group-item-text">text</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>