
@{
    ViewBag.Title = "History";
}

<!-- Page Title -->
<div class="row">
    <div class="col-xs-12">
        <h2 class="text-center">@ViewBag.Title</h2>
    </div>
</div>

<!-- We do a virtual list. Each row is a timeline element. -->

<!-- JustIT -->
<div class="row history-item">
    <div class="col-xs-12">
        <div class="well">
            <!-- Logo -->
            <div class="row">
                <div class="col-xs-12">
                    <img src="~/Content/Images/justit_logo-2x.png" class="img-responsive center-block" alt="Logo" />
                </div>
            </div>
            <!-- Place/Organization -->
            <!--
        <div class="row">
            <div class="col-xs-12">
                <h1 class="text-center">JustIT</h1>
            </div>
        </div>
            -->
            <!-- Date -->
            <div class="row history-date">
                <div class="col-xs-5">
                    <h3 class="text-center">
                        <time datetime="2015-09">September 2015</time>
                    </h3>
                </div>
                <div class="col-xs-2">
                    <div class="text-center horizontal-line"></div>
                </div>
                <div class="col-xs-5">
                    <h3 class="text-center">
                        <time datetime="now">Now</time>
                    </h3>
                </div>
            </div>
            <!-- Job/Role -->
            <div class="row">
                <div class="col-xs-12">
                    <h1 class="text-center">The Development Professional Program</h1>
                </div>
            </div>
            <!-- Description -->
            <div class="row">
                <div class="col-xs-12">
                    <p>
                        A self-funded IT training course. It covers fundamentals of general programming and web development. <br />
                        Later, focusing on a specialistion such as front-end or back-end development.
                    </p>
                    <p>
                        The course includes gaining Microsoft certifications:
                        <ul>
                            <li>Microsoft .NET Framework 70-536 – Application Development Foundation</li>
                            <li>Microsoft ASP.NET Framework 70-528 – Web-Based Client Development</li>
                        </ul>
                    </p>
                    <h4>View my <a href="http://app.pluralsight.com/profile/arnoldas-rudzevicius">Pluralsight profile</a> for some of the topics this course overs.</h4>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- University -->
<div class="row history-item">
    <div class="col-xs-12">
        <div class="well">
            <!-- Logo -->
            <div class="row">
                <div class="col-xs-12">
                    <img src="~/Content/Images/london-met-230x105.png" class="img-responsive center-block" alt="Logo" />
                </div>
            </div>
            <!-- Place/Organization -->
            <!--
        <div class="row">
            <div class="col-xs-12">
                <h1 class="text-center">London Metropolitan University</h1>
            </div>
        </div>
        -->
            <!-- Date -->
            <div class="row history-date">
                <div class="col-xs-5">
                    <h3 class="text-center">
                        <time datetime="2011-11">November 2011</time>
                    </h3>
                </div>
                <div class="col-xs-2">
                    <div class="text-center horizontal-line"></div>
                </div>
                <div class="col-xs-5">
                    <h3 class="text-center">
                        <time datetime="2014-07">July 2014</time>
                    </h3>
                </div>
            </div>
            <!-- Job/Role -->
            <div class="row">
                <div class="col-xs-12">
                    <h1 class="text-center">Film & Broadcast Production, BA</h1>
                </div>
            </div>
            <!-- Description -->
            <div class="row">
                <div class="col-xs-12">
                    <p>The demanding course challenges you to develop and produce effective and engaging screen stories: involving you in practical production work in an innovative studio structure and providing you with the opportunity to work on live projects with clients throughout the course.</p>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Boom Operator/Freelance -->
<div class="row history-item">
    <div class="col-xs-12">
        <div class="well">
            @*
            <!-- Logo -->
            <div class="row">
                <div class="col-xs-12">
                    <img src="http://dummyimage.com/600x200/000/fff" class="img-responsive center-block" alt="Logo" />
                </div>
            </div>
        *@
        <!-- Place/Organization -->
        <div class="row">
            <div class="col-xs-12">
                <h1 class="text-center text-purple"><strong>Freelance</strong></h1>
            </div>
        </div>
        <!-- Date -->
        <div class="row history-date">
            <div class="col-xs-5">
                <h3 class="text-center">
                    <time datetime="2011-02">February 2011</time>
                </h3>
            </div>
            <div class="col-xs-2">
                <div class="text-center horizontal-line"></div>
            </div>
            <div class="col-xs-5">
                <h3 class="text-center">
                    <time datetime="2011-08">August 2011</time>
                </h3>
            </div>
        </div>
        <!-- Job/Role -->
        <div class="row">
            <div class="col-xs-12">
                <h1 class="text-center">Runner/Boom Mic. Operator</h1>
            </div>
        </div>
        <!-- Description -->
        <div class="row">
            <div class="col-xs-12">
                <ul>
                    <li>Working with teams in high-paced environments.</li>
                    <li>Adapting to change in circumstances.</li>
                    <li>Completion of tasks accurately and promptly.</li>
                </ul>
            </div>
        </div>
    </div>
    </div>
</div>

<!-- Fresh Carts -->
<div class="row history-item">
    <div class="col-xs-12">
        <div class="well">
            @*
            <!-- Logo -->
            <div class="row">
                <div class="col-xs-12">
                    <img src="http://dummyimage.com/600x200/000/fff" class="img-responsive center-block" alt="Logo" />
                </div>
            </div>
        *@
        <!-- Place/Organization -->
        <div class="row">
            <div class="col-xs-12">
                <h1 class="text-center text-purple"><strong>Fresh Carts</strong></h1>
            </div>
        </div>
        <!-- Date -->
        <div class="row history-date">
            <div class="col-xs-5">
                <h3 class="text-center">
                    <time datetime="2009-10">October 2009</time>
                </h3>
            </div>
            <div class="col-xs-2">
                <div class="text-center horizontal-line"></div>
            </div>
            <div class="col-xs-5">
                <h3 class="text-center">
                    <time datetime="2010-08">August 2010</time>
                </h3>
            </div>
        </div>
        <!-- Job/Role -->
        <div class="row">
            <div class="col-xs-12">
                <h1 class="text-center">Retail Operations</h1>
            </div>
        </div>
        <!-- Description -->
        <div class="row">
            <div class="col-xs-12">
                <ul>
                    <li>Attracting and interacting with customers.</li>
                    <li>Self-managment of time, goods, and money for the day.</li>
                </ul>
            </div>
        </div>
    </div>
    </div>
</div>