
@{
    ViewBag.Title = "Home";
}

<div class="row">
    <div class="col-xs-12">
        <div class="jumbotron landing" id="landing">
            <ol class="typed">
                <li>Hello, and welcome!</li>
                <li>My name is Arnoldas Rudzevicius.</li>
                <li>I'm a developer.</li>
            </ol>
        </div>
    </div>
</div>

