
@{
    ViewBag.Title = "Home";
}

<div class="row">
    <div class="col-md-8 col-xs-12">
        <div class="jumbotron landing" id="landing">
            @*
                <ol class="typed">
                    <li>Hello, and welcome!</li>
                    <li>My name is Arnoldas Rudzevicius.</li>
                    <li>I'm a developer.</li>
                </ol>
            *@
            <h1>Hello, and welcome!</h1>
            <br />
            <h1>
                My name is
                <br />
                <strong class="asterisk">Arnoldas Rudzevicius</strong>.
            </h1>
            <br />
            <h1>
                I am a <strong class="asterisk">Python</strong> and <strong class="asterisk">C#</strong> 
                <br />
                back-end developer.
            </h1>
        </div>
    </div>
    <div class="col-md-4 hidden-xs hidden-sm">
        <a href="/Projects" class="hover-text-decoration-off">
            <div class="spotlight-gadget-container">
                <h3 class="text-center gadget-text">Projects!</h3>
                <div class="gadget gadget-square-circle"></div>
            </div>
        </a>
    </div>
</div>

@section script {
    <script src="~/Scripts/lazyload.js"></script>
}