
@{
    ViewBag.Title = "Home";
}

<main class="row">
    <section class="jumbotron col-xs-12 landing" id="landing">
        <ol class="typed">
            <li>Hello, and welcome!</li>
            <li>My name is Arnoldas Rudzevicius.</li>
            <li>I'm a developer.</li>
        </ol>
    </section>
</main>

