
@{
    ViewBag.Title = "Skillset";
}

<!-- Page Title -->
<div class="row">
    <div class="col-sm-12">
        <h2 class="text-center">@ViewBag.Title</h2>
    </div>
</div>
<!-- Page intro text -->
<div class="row">
    <div class="col-sm-12">
        <p class="text-center lead">
            I enjoy learning about a wide range of programming topics, but here I try to provide a more relevant overview.<br />
        </p>
    </div>
</div>

<!-- Skills -->
<div class="row">
    <!-- Coding Section -->
    <div class="col-xs-12 panel panel-default">
        <!-- Section Header -->
        <div class="row panel-heading">
            <div class="col-xs-12">
                <h4 class="text-center">Coding</h4>
            </div>
        </div>
        <!-- Items -->
        <div class="row panel-body">
            <div class="col-sm-6 col-md-3">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <h6>C#</h6>
                    </div>
                    <div class="panel-body">
                        <p>My primary language; I always aim to be on top of the language I use in all that it has to offer. Which, when it comes to C#, is quite a bit.</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-3">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <h6>Python</h6>
                    </div>
                    <div class="panel-body">
                        <p>My secondary language of choice. Prior to C#, it was my primary language.</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-3">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <h6>Git</h6>
                    </div>
                    <div class="panel-body">
                        <p>Now I use Git for all projects, and I like to use <a href="https://de.atlassian.com/git/tutorials/comparing-workflows/gitflow-workflow">Git Flow</a>. This website is on <a href="https://github.com/LTArnas/myPortfolioSite">GitHub</a>.</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-3">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <h6>Object Orientated Programming</h6>
                    </div>
                    <div class="panel-body">
                        <p>I always aim for <a href="https://en.wikipedia.org/wiki/SOLID_(object-oriented_design)">SOLID</a>. The topic of Object Orientated Programming/Design I always find interesting, and important.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Web Section -->
<div class="row">
    <div class="col-sm-12 panel panel-default">
        <!-- Section Header -->
        <div class="row panel-heading">
            <div class="col-xs-12">
                <h4 class="text-center">Web</h4>
            </div>
        </div>
        <!-- Items -->
        <div class="row panel-body">
            <div class="col-sm-6 col-md-3">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <h6>ASP.NET</h6>
                    </div>
                    <div class="panel-body">
                        <p>MVC 5 and Razor. This website is powered by ASP.NET.</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-3">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <h6>Javascript</h6>
                    </div>
                    <div class="panel-body">
                        <p>Including jQuery. Of course, used on this website.</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-3">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <h6>CSS</h6>
                    </div>
                    <div class="panel-body">
                        <p>If a website is made without CSS today, I would like to see it; this is not one of them. I am aiming to move into using <a href="http://sass-lang.com/">SASS</a>.</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-3">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <h6>Bootstrap</h6>
                    </div>
                    <div class="panel-body">
                        <p>Like many websites, this website is built with bootstrap.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Other/Misc Section -->
<div class="row">
    <div class="col-xs-12 panel panel-default">
        <!-- Section Header -->
        <div class="row panel-heading">
            <div class="col-xs-12">
                <h4 class="text-center">Other</h4>
            </div>
        </div>
        <!-- Items -->
        <div class="row panel-body">
            <div class="col-sm-6 col-md-3">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <h6>Unit Testing</h6>
                    </div>
                    <div class="panel-body">
                        <p>Unit tests are important and while I have not gotten the hang of TDD just yet, it is certainly something I aim to rectify.</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-3">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <h6>Database</h6>
                    </div>
                    <div class="panel-body">
                        <p>I try to keep myself familiar with SQL, normalisation, and now NoSQL. As well as related topics such as the <a href="https://en.wikipedia.org/wiki/Entity_Framework">Entity Framework</a></p>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-3">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <h6>UML</h6>
                    </div>
                    <div class="panel-body">
                        <p>Because I strongly believe in good architecture, I have used <a href="https://en.wikipedia.org/wiki/Unified_Modeling_Language">UML</a> in the past.</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-3">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <h6>Adaptation & Research</h6>
                    </div>
                    <div class="panel-body">
                        <p>Being primarily a self-taught programmer, I am comfortable learning new things.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Traits Header -->
<div class="row">
    <div class="col-sm-12">
        <h3 class="text-center">I especially value...</h3>
    </div>
</div>
<!-- Traits Items -->
<div class="row">
    <div class="col-sm-4">
        <div class="well">
            <h6 class="text-center">Best Practices.</h6>
            <hr />
            <h6 class="text-center">Planning.</h6>
        </div>
    </div>
    <div class="col-sm-4">
        <div class="well">
            <h6 class="text-center">Professionalism.</h6>
            <hr />
            <h6 class="text-center">Improving.</h6>
        </div>
    </div>
    <div class="col-sm-4">
        <div class="well">
            <h6 class="text-center">Friendliness.</h6>
            <hr />
            <h6 class="text-center">Passion.</h6>
        </div>
    </div>
</div>