
@{
    ViewBag.Title = "Skillset";
}

<!-- Page Title -->
<div class="row">
    <div class="col-sm-12">
        <h2>@ViewBag.Title</h2>
    </div>
</div>
<!-- Page intro text -->
<div class="row">
    <div class="col-sm-12">
        <p>
            I enjoy learning about a wide range of programming topics, but here I try to provide a more relevant overview.<br />
        </p>
    </div>
</div>
<!-- Skills -->
<div class="row">
    <!-- Coding Section -->
    <div class="col-sm-4">
        <!-- Section Header -->
        <div class="row">
            <div class="col-xs-12">
                <h4>Coding</h4>
            </div>
        </div>
        <!-- Item -->
        <div class="row">
            <div class="col-xs-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h6>C#</h6>
                    </div>
                    <div class="panel-body">
                        <p>Sapien elit in malesuada semper mi, id sollicitudin urna fermentum.</p>
                    </div>
                </div>
            </div>
        </div>
        <!-- Item -->
        <div class="row">
            <div class="col-xs-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h6>Python</h6>
                    </div>
                    <div class="panel-body">
                        <p>Sapien elit in malesuada semper mi, id sollicitudin urna fermentum.</p>
                    </div>
                </div>
            </div>
        </div>
        <!-- Item -->
        <div class="row">
            <div class="col-xs-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h6>Git</h6>
                    </div>
                    <div class="panel-body">
                        <p>Sapien elit in malesuada semper mi, id sollicitudin urna fermentum.</p>
                    </div>
                </div>
            </div>
        </div>
        <!-- Item -->
        <div class="row">
            <div class="col-xs-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h6>Object Orientated Programming</h6>
                    </div>
                    <div class="panel-body">
                        <p>Sapien elit in malesuada semper mi, id sollicitudin urna fermentum.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Web Section -->
    
    <!-- Other/Misc Section -->
    
</div>
<!-- Traits -->
<div class="row">
    <div class="col-xs-12">
        <!-- Header -->
        <div class="row">
            <div class="col-sm-12">
                <h3>I especially value...</h3>
            </div>
        </div>
        <!-- Items -->
        <div class="row">
            <div class="col-sm-4">
                <div class="well">
                    <h6 class="text-center">Best Practices.</h6>
                    <hr />
                    <h6 class="text-center">Planning.</h6>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="well">
                    <h6 class="text-center">Professionalism.</h6>
                    <hr />
                    <h6 class="text-center">Friendliness.</h6>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="well">
                    <h6 class="text-center">Improving.</h6>
                    <hr />
                    <h6 class="text-center">Doing it 'right'.</h6>
                </div>
            </div>
        </div>
    </div>
</div>