
@{
    ViewBag.Title = "Work";
}

<!-- Page Title -->
<div class="row">
    <div class="col-sm-12">
        <h2 class="text-center">@ViewBag.Title</h2>
    </div>
</div>
@*
    <!-- Page intro text -->
    <div class="row">
        <div class="col-sm-12">
            <p class="text-center">.</p>
        </div>
    </div>
*@
<!-- Work History -->
<div class="row">
    <!-- Work Item -->
    <div class="col-sm-4 col-sm-push-1">
        <div class="well">
            @*
                <!-- Logo -->
                <div class="row">
                    <div class="col-sm-12">
                        <div class="thumbnail">
                            <img src="~/Content/Images/justit_logo-2x.png" alt="JustIT" />
                        </div>
                    </div>
                </div>
            *@
            <!-- Title -->
            <div class="row">
                <div class="col-sm-12">
                    <h3>Freelance Runner/Boom Mic Operator</h3>
                    <p>Freelance runner, and boom microphone operator.</p>
                </div>
            </div>
            @*
                <!-- Date -->
                <div class="row">
                    <!-- End -->
                    <div class="col-sm-6">
                        <h6>To</h6><time datetime="2011">2011</time>
                    </div>
                    <!-- Start -->
                    <div class="col-sm-6">
                        <h6>From</h6><time datetime="2010">2010</time>
                    </div>
                </div>
            *@
            <br />
            @*
            <!-- Summary -->
            <div class="row">
                <div class="col-sm-12">
                    <p>Freelance runner, and boom microphone operator.</p>
                </div>
            </div>
                *@
            <!-- Skills -->
            <div class="row">
                <div class="col-sm-12">
                    <div class="list-group">
                        <div class="list-group-item">
                            <h6 class="list-group-item-heading">Teamwork</h6>
                            <p class="list-group-item-text">Working with a team in a high paced environment.</p>
                        </div>
                        <div class="list-group-item">
                            <h6 class="list-group-item-heading">Reliability</h6>
                            <p class="list-group-item-text">Adapting to change in circumstance, punctuality, completion of task accurately and promptly.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Work Item -->
    <div class="col-sm-4 col-sm-push-3">
        <div class="well">
            @*
                <!-- Logo -->
                <div class="row">
                    <div class="col-sm-12">
                        <div class="thumbnail">
                            <img src="~/Content/Images/justit_logo-2x.png" alt="JustIT" />
                        </div>
                    </div>
                </div>
            *@
            <!-- Title -->
            <div class="row">
                <div class="col-sm-12">
                    <h3>Fresh Carts</h3>
                    <p>Selling fruit at a fruit stand.</p>
                </div>
            </div>
            @*
                <!-- Date -->
                <div class="row">
                    <!-- End -->
                    <div class="col-sm-6">
                        <h6>To</h6><time datetime="2011">2011</time>
                    </div>
                    <!-- Start -->
                    <div class="col-sm-6">
                        <h6>From</h6><time datetime="2010">2010</time>
                    </div>
                </div>
            *@
            <br />
            @*
            <!-- Summary -->
            <div class="row">
                <div class="col-sm-12">
                    <p>Selling fruit at a fruit stand.</p>
                </div>
            </div>
                *@
            <!-- Skills -->
            <div class="row">
                <div class="col-sm-12">
                    <div class="list-group">
                        <div class="list-group-item">
                            <h6 class="list-group-item-heading">Customer Service</h6>
                            <p class="list-group-item-text">Attracting and interacting with customers.</p>
                        </div>
                        <div class="list-group-item">
                            <h6 class="list-group-item-heading">Organisation</h6>
                            <p class="list-group-item-text">Self-management of time, the stand and produce, and money for the day.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

