<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <a class="navbar-brand navbar-center" href="/">Arnoldas Rudzevicius</a>
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-content" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>        
        <div class="collapse navbar-collapse" id="navbar-content">
            <ul class="nav navbar-nav navbar-left">
                <li><a href="/">Home</a></li>
                @* Not available right now.
            <li><a href="/about">About</a></li>
                *@
                <li class="dropdown">
                    <div class="btn-group navbar-btn">
                        <button class="btn btn-link" type="button" href="/Knowledge">Knowledge</button>
                        <button class="btn btn-default dropdown-toggle pull-right" id="knowledgeDropdown" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu" aria-labelledby="knowledgeDropdown">
                            <li><a href="/Skillset">Skillset</a></li>
                            <li><a href="/Education">Education</a></li>
                            <li><a href="/Work">Work Experience</a></li>
                        </ul>
                    </div>
                </li>
                <li><a href="/Projects">Projects</a></li>
                <li><a href="/Contact">Contact</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="#">Github n all that</a></li>
            </ul>
        </div>
    </div>
</nav>